<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if current_user.is_authenticated %}
    "<p>Hello, {{current_user.username }}</p>
        ! You're logged in! Email: {{ current_user.email }}</p>"
        <div>
            <p>Google Profile Picture:</p>"
            <img src="{{current_user.picture }}" alt="Google profile pic"></img>
        </div>
        <a href="{{ url_for('auth.logout')}}">+Logout</a>
    {% else %}
    <a href="{{ url_for('auth.login')}}">+Login</a>
    {% endif %}
</body>
</html>